.app {
  color: white;
  background: rgb(28, 30, 32);
  background-blend-mode: darken;
}

.pinkZone {
  background: radial-gradient(
    103.95% 286.96% at 100% 100%,
    #bb1dac 0%,
    #381be9 100%
  );
  margin-top: 100px;
  margin-bottom: 80px;
}

.greenZone {
  background: radial-gradient(
    130.85% 231.05% at 4.75% 8.28%,
    #366914 0%,
    #0480db 100%
  );
}

.howItWorks h1 {
  font-size: 75px;
  opacity: 0.1;
}

.howItWorks .col-3 {
  height: 280px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.05);
  margin: 10px;
}

.video {
  width: 860px;
  height: 530px;
  position: absolute;
  right: 0px;
  top: 150px;
  background: #00000054;
}
